html
  head
    title= title
    meta:og:title= ogtitle

  body
    h1= message
    div#root
    script(type="text/javascript").
      window.__INITIAL_STATE__ = !{JSON.stringify(__INITIAL_STATE__)}
    script(type="text/javascript", src="client.js")